<template>
  <div class="filter-container">
    <OrderSorterElement
      :name="filterControls.byAlgorithm.name"
      :orderStatus="filterControls.byAlgorithm.status"
      @orderChangeHandler="orderChangeHandler"
    />
    <OrderSorterElement
      :name="filterControls.byCoin.name"
      :orderStatus="filterControls.byCoin.status"
      @orderChangeHandler="orderChangeHandler"
    />
    <div class="currencies-container">
      <div
        v-for="(currency, index) in currencies"
        :key="index"
        class="currency-item general"
        @click="chooseCurrencyHandler(currency.name, 1)"
        :class="firstCurrency === currency.name ? 'dark' : 'light'"
      >
        <img :src="currency.img" alt="Currency image">
        {{ currency.name }}
      </div>
    </div>
    <div class="currencies-container">
      <div
        v-for="(currency, index) in currencies"
        :key="index"
        class="currency-item general"
        @click="chooseCurrencyHandler(currency.name, 2)"
        :class="secondCurrency === currency.name ? 'dark' : 'light'"
      >
        <img :src="currency.img" alt="Currency image">
        {{ currency.name }}
      </div>
    </div>
    <div class="graph-cards-container">
      <div
        v-for="(card, index) in graphicsCard"
        :key="index"
        class="graph-cards-item general"
        :class="cardArray.includes(card) ? 'dark' : 'light'"
        @click="byGraphSortHandler(card)"
      >
        <span>{{ card }}</span>
      </div>
    </div>
    <OrderSorterElement
      :name="filterControls.byEquipment.name"
      :orderStatus="filterControls.byEquipment.status"
      @orderChangeHandler="orderChangeHandler"
    />
    <OrderSorterElement
      :name="filterControls.byManufacturer.name"
      :orderStatus="filterControls.byManufacturer.status"
      @orderChangeHandler="orderChangeHandler"
    />
    <input
      type="number"
      class="light general"
      :placeholder="$t('minPrice')"
      :min="0"
    >
    <input
      type="number"
      :placeholder="$t('maxPrice')"
      class="light general"
      :min="0"
    >
    <input
      type="search"
      :placeholder="$t('search')"
      class="light general"
    >
  </div>
</template>

<script>
import OrderSorterElement from './UI/OrderSorterElement'

export default {
  components: { OrderSorterElement },
  data () {
    return {
      graphicsCard: ['AMD', 'Nvidia', 'Boundary Electric', 'Pandaminer'],
      currencies: [
        { name: 'BTC', img: require('../images/bch.png') },
        { name: 'PPC', img: require('../images/ppc.png') },
        { name: 'ETP', img: require('../images/etp.png') }
      ],
      filterControls: {
        byAlgorithm: {
          name: this.$t('By Algorithm'),
          status: false
        },
        byCoin: {
          name: this.$t('By Coin'),
          status: true
        },
        byEquipment: {
          name: this.$t('By Equipment'),
          status: false
        },
        byManufacturer: {
          name: this.$t('By Manufacturer'),
          status: true
        },
        byGraphicsCard: [],
        firstCurrency: '',
        secondCurrency: ''
      }
    }
  },

  computed: {
    cardArray () {
      return this.filterControls.byGraphicsCard
    },

    firstCurrency () {
      return this.filterControls.firstCurrency
    },

    secondCurrency () {
      return this.filterControls.secondCurrency
    }
  },

  methods: {
    orderChangeHandler ({ status, control }) {
      this.filterControls[control].status = status
    },

    byGraphSortHandler (card) {
      const activeCards = this.filterControls.byGraphicsCard
      if (activeCards.includes(card)) {
        activeCards.splice(activeCards.indexOf(card), 1)
      } else {
        activeCards.push(card)
      }
    },

    chooseCurrencyHandler (currency, number) {
      if (number === 1) {
        this.filterControls.firstCurrency = currency
      } else {
        this.filterControls.secondCurrency = currency
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-container {
  font-family: 'Open Sans';
  .graph-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .graph-cards-item {
      cursor: pointer;
      justify-content: center;
      width: 48%;
      height: 30px;
      font-size: 10px;
    }
  }

  input {
    outline: none;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    &::placeholder {
      font-family: 'Open Sans';
      color: rgba($color: #fff, $alpha: 0.6);
      font-size: 12px;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  .currencies-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans';
    .currency-item {
      width: 60px;
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 10px;
      img {
        margin-bottom: 10px;
      }
    }
  }

  .general {
    cursor: pointer;
    display: flex;
    align-items: center;
    mix-blend-mode: normal;
    color: rgba($color: #fff, $alpha: 0.6);
    box-sizing: border-box;
    margin-bottom: 7px;
    border: 0;
  }

  .light {
    background: rgba(255, 255, 255, 0.1);
  }

  .dark {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #ffffff2d;
  }
}
</style>
