<template>
  <div>
    <span @click="switchLocale()">{{ currentLocale }}</span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      locales: process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(','),
      localeIndex: 0,
      localeNames: ['ENG', 'RUS', 'FRE', 'DEU', 'POL']
    }
  },

  computed: {
    currentLocale () {
      return this.localeNames[this.localeIndex]
    }
  },

  methods: {
    switchLocale () {
      this.localeIndex = this.localeIndex !== this.locales.length - 1 ? this.localeIndex += 1 : 0
      const locale = this.locales[this.localeIndex]
      this.$i18n.locale = locale
    }
  }

}
</script>

<style lang="scss" scoped>
  div {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    cursor: pointer;
    color: #fff;
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    span {
      margin-left: 5px;
    }
  }
</style>
