<template>
  <div class="main-menu-container" ref="mainMenu">
    <div class="close-button-container">
      <svg
        class="close"
        @click="closeMenuHandler"
      >
        <use xlink:href="../icons/hamburger_close.svg#hamburger-close"></use>
      </svg>
    </div>
    <nav>
      <div class="nav-container">
        <div
          class="item-link"
          v-for="(link, index) in navLinks"
          :key="link.name"
          @click="closeMenuHandler()"
        >
          <router-link
            :to="link.path"
          >
            {{ link.name.toUpperCase() }}
          </router-link>
          <svg v-if="index !== navLinksArrayLength" class="square">
            <use xlink:href="../icons/square.svg#square"></use>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: {
    appHeight: {
      type: Number
    }
  },

  data () {
    return {
      navLinks: [
        { name: this.$t('home'), path: '/' },
        { name: this.$t('sell'), path: '/sell' },
        { name: this.$t('host'), path: '/host' },
        { name: this.$t('about us'), path: '/about' },
        { name: this.$t('support'), path: '/support' }
      ]
    }
  },

  computed: {
    navLinksArrayLength () {
      return this.navLinks.length - 1
    }
  },

  mounted () {
    this.$refs.mainMenu.style.height = `${this.appHeight}px`
  },

  methods: {
    closeMenuHandler () {
      this.$emit('closeMenu', false)
    }
  }
}
</script>

<style lang="scss" scoped>
.main-menu-container {
  z-index: 1000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100vh;
  background-color: #0B0C23;
  .close-button-container {
    width: 100%;
    margin: 100px 0 60px;
    .close {
      cursor: pointer;
      display: block;
      width: 15px;
      height: 15px;
      margin: auto;
    }
  }
  nav {
    .nav-container {
      .item-link {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        a {
          text-align: center;
          display: block;
          padding: 4vh 0;
          text-decoration: none;
          color: #fff;
          width: 100%;
          transition: .3s;
          &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.1);
          }
        }
        .square {
          width: 11px;
          height: 2px;
        }
      }
    }
  }
}
</style>
