<template>
  <div class="tile-container">
    <h4>{{ name }}</h4>
    <div class="img-container">
      <img :src="imagePath" alt="Tile image">
    </div>
    <p class="price-field">${{ price }}.00</p>
    <button
      @click="addToCart(name, price, imageName)"
      class="mobile-add-btn"
    >
      {{$t('addToCart')}}
    </button>
    <div class="hover-container">
      <button @click="addToCart(name, price, imageName)">Add to cart</button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  props: {
    name: {
      type: String,
      require: true
    },
    price: {
      type: Number,
      require: true
    },
    imageName: {
      type: String,
      require: true
    }
  },

  computed: {
    ...mapGetters([
      'getProductsInCart'
    ]),
    imagePath () {
      return require(`../images/${this.imageName}`)
    }
  },

  methods: {
    ...mapMutations([
      'setProductsInCart',
      'addProductToCart'
    ]),

    addToCart (name, price, imageName) {
      let isAdded = false
      const product = {
        name, price, imageName, quantity: 1
      }
      const products = this.getProductsInCart.map(el => {
        if (el.name === product.name) {
          el.quantity += 1
          isAdded = true
        }
        return el
      })
      if (isAdded) {
        this.setProductsInCart(products)
      } else {
        this.addProductToCart(product)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.tile-container {
  position: relative;
  color: #FFFFFF;
  width: 146px;
  height: 146px;
  padding: 12px;
  background: rgba($color: #ffffff, $alpha: 0.1);
  mix-blend-mode: normal;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 17px;
  margin-left: 17px;
  h4 {
    font-size: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    margin-bottom: 14px;
  }
  .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 73px;
    }
  }
  .price-field {
    padding: 17px 0;
    font-size: 16px;
    font-weight: bold;
  }
  .mobile-add-btn {
    display: none;
  }
  .hover-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #0B0C23, $alpha: 0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s;
    &:hover {
      opacity: 1;
    }
  }
  button {
    font-family: 'Open Sans';
    cursor: pointer;
    padding: 10px 15px;
    color: #ffffff;
    border: 1px solid #1B1B67;
    background: #1B1B67;
    outline: none;
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .tile-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tile-container {
    width: 78%;
    max-width: 100%;
    margin-left: 0;
    height: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vw;
    .hover-container {
      display: none;
    }
    h4 {
      font-size: 4vw;
      margin-bottom: 0;
    }
    .price-field {
      font-size: 5vw;
      padding: 0;
    }
    .mobile-add-btn {
      display: block;
      padding: 4vw 5vw;
    }
    .img-container {
      img {
        max-width: 100%;
        height: 32vw;
      }
    }
  }
}

@media screen and (max-width: 425px){
  .tile-container {
    width: 94%;
    height: 92vw;
  }
}
</style>
