<template>
  <div class="main-container">
    <div class="filter">
      <p>{{$t('filterTitle')}}</p>
      <FilterBar />
    </div>
    <div class="on-sale">
      <div class="wrapper">
        <div class="on-sale-title">
          <p>{{$t('onSaleTitle')}}</p>
          <div>
            <p>View: <span>Grid</span></p>
            <svg class="grid">
              <use xlink:href="../icons/grid.svg#grid"></use>
            </svg>
            <svg class="separator">
              <use xlink:href="../icons/separator.svg#separator"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="products-container">
        <ProductTile
          v-for="n in 50"
          :key="n"
          :name="productTile.name"
          :price="productTile.price"
          :imageName="productTile.imageName"
        />
      </div>
    </div>
    <div class="new-listings">
      <p>{{$t('newListingsTitle')}}</p>
      <div class="products-container">
        <ProductTile
          v-for="n in 50"
          :key="n"
          :name="productTile.name"
          :price="productTile.price"
          :imageName="productTile.imageName"
        />
      </div>
    </div>
    <div class="news">
      <p>{{$t('newsTitle')}}</p>
      <img src="../images/banner.png" alt="banner">
    </div>
  </div>
</template>

<script>
import ProductTile from '../components/ProductTile'
import FilterBar from '../components/FilterBar'

export default {
  components: { ProductTile, FilterBar },
  data () {
    return {
      productTile: {
        name: 'Test tile',
        price: 1000.00,
        imageName: 'tile_image.png'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.main-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 86%;
  max-width: 1440px;
  .filter {
    width: 235px;
  }
  .on-sale {
    max-width: 376px;
    height: 520px;
    .wrapper {
      display: flex;
      justify-content: center;
      .on-sale-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        width: 85%;
        p {
          font-weight: 500;
          font-size: 24px;
        }
        div {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 10px;
            font-weight: lighter;
          }
          .grid {
            margin-left: 15px;
            width: 13px;
            height: 12px;
          }
        }
      }
    }
  }
  .new-listings {
    max-width: 190px;
    p {
      text-align: center;
    }
  }
  .news {
    width: 170px;
    img {
      width: 170px;
      height: 92%;
    }
  }
}

.products-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 471px;
  overflow-y: auto;
  direction: rtl;
  text-align: left;
}

.filter, .on-sale, .new-listings, .news {
  height: 511px;
  box-sizing: border-box;
}

.on-sale, .new-listings, .news {
  margin-left: 15px;
}

.filter p, .new-listings p, .news p {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 12px;
}

svg.separator {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .new-listings {
    display: none;
  }

  .products-container {
    justify-content: flex-end;
  }
  .main-container {
    .on-sale {
      max-width: 330px;
      .wrapper {
        .on-sale-title {
          width: 82%;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .news {
      display: none;
    }
    .filter {
      display: none;
    }
    .on-sale {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin-left: 0;
      .wrapper {
        .on-sale-title {
          display: none;
        }
      }
    }
  }
  .products-container {
    justify-content: center;
    max-width: 100%;
    height: 100%;
    overflow-y: visible;
    direction: ltr;
  }
}
</style>
