<template>
  <div
    class="general"
    :class="orderStatus ? 'dark' : 'light'"
    @click="orderChangeHandler()"
  >
    <span>{{$t(name)}}</span>
    <svg
      class="arrow"
      :class="orderStatus ? 'arrow-ratation' : null"
    >
      <use xlink:href="../../icons/arrow.svg#arrow"></use>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      require: true
    },
    orderStatus: Boolean
  },

  methods: {
    orderChangeHandler () {
      const temp = this.name.split(' ')
      temp[0] = temp[0].toLowerCase()
      const control = temp.join('')
      this.$emit('orderChangeHandler', { status: !this.orderStatus, control })
    }
  }
}
</script>

<style lang="scss" scoped>
.light {
  background: rgba(255, 255, 255, 0.1);
}

.dark {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #ffffff2d;
}

.general {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: normal;
  width: 100%;
  height: 30px;
  color: rgba($color: #fff, $alpha: 0.6);
  box-sizing: border-box;
  padding: 0 10px;
  span {
    font-size: 12px;
  }
}

.arrow-ratation {
  transform: rotate(180deg);
}

.arrow {
  width: 10px;
  height: 6px;
}
</style>
