<template>
  <div
    class="header-container"
    :class="separatrLine"
  >
    <div class="message-container">
      <p>{{ message }}</p>
      <input
        v-if="checkboxLabel"
        type="checkbox"
        :id="`checkbox-${message}`"
        class="custom-checkbox"
      >
      <label
        v-if="checkboxLabel"
        :for="`checkbox-${message}`"
      >
        {{checkboxLabel}}
      </label>
    </div>
    <svg
      v-if="isWithCloseIcon"
      class="close"
      @click="closeCartHandler"
    >
      <use xlink:href="../../icons/hamburger_close.svg#hamburger-close"></use>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      require: true
    },
    checkboxLabel: {
      type: String
    },
    isWithCloseIcon: {
      type: Boolean
    }
  },

  computed: {
    separatrLine () {
      return this.checkboxLabel ? 'separete-line' : null
    }
  },

  methods: {
    closeCartHandler () {
      this.$emit('closeCartHandler', false)
    }
  }
}
</script>

<style lang="scss" scoped>
.header-container {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #17182E;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  .message-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 16px;
    }
    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      &+label::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #ffffff48;
        margin: 0 11px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80% 80%;
      }
      &:checked+label::before {
        background-image: url("../../icons/checked.svg#checked");
      }
    }
    label {
      font-size: 10px;
    }
  }
  .close {
    cursor: pointer;
    display: block;
    width: 15px;
    height: 15px;
  }
}

.separete-line {
  border-top: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  // .header-container {
  //   display: none;
  // }
}
</style>
