<template>
  <div
    id="app"
    ref="app"
    :class="mainMenuStatus ? 'hidden' : null"
  >
    <header ref="header">
      <div class="controls-close-mobile">
        <svg v-if="!cartStatus" class="controls">
          <use xlink:href="./icons/controls.svg#controls"></use>
        </svg>
        <svg
          v-else
          class="close-mobile"
          @click="openCloseCart(false)"
        >
          <use xlink:href="./icons/hamburger_close.svg#hamburger-close"></use>
        </svg>
      </div>
      <div class="left-side-header">
        <img class="logo" src="./images/logo.png" alt="logo">
        <div class="locales-container">
          <svg class="planet">
            <use xlink:href="./icons/planet.svg#planet"></use>
          </svg>
          <LocaleSwitcher />
        </div>
      </div>
      <div class="center-header">
        <svg
          class="hamburger"
          @click="openMenuHandler()"
        >
          <use xlink:href="./icons/hamburger_open.svg#hamburger"></use>
        </svg>
      </div>
      <div class="right-side-header">
        <svg class="user">
          <use xlink:href="./icons/user.svg#user"></use>
        </svg>
        <div class="user-account">
          {{$t('myAccountTitle').toUpperCase()}}
          <svg class="arrow">
            <use xlink:href="./icons/arrow.svg#arrow"></use>
          </svg>
        </div>
        <svg class="separator">
          <use xlink:href="./icons/separator.svg#separator"></use>
        </svg>
        <svg class="balance">
          <use xlink:href="./icons/balance.svg#balance"></use>
        </svg>
        <svg class="separator">
          <use xlink:href="./icons/separator.svg#separator"></use>
        </svg>
        <svg
          class="bell"
        >
          <use xlink:href="./icons/bell.svg#bell"></use>
        </svg>
        <svg class="separator">
          <use xlink:href="./icons/separator.svg#separator"></use>
        </svg>
        <div class="cart-button-container">
          {{ quantityOfProducts }}
          <svg class="cart" @click="openCloseCart(true)">
            <use xlink:href="./icons/cart.svg#cart"></use>
          </svg>
        </div>
      </div>
      <MainMenu
        v-if="mainMenuStatus"
        :appHeight="appHeight"
        @closeMenu="closeMenuHandler"
      />
    </header>
    <main :class="mobileStatus ? 'scroll-hidden' : null">
      <div class="mob-menu">
        <div class="mob-menu-container">
          <router-link
            tag="span"
            :to="link.path"
            v-for="(link, index) in navLinks"
            :key="index"
            exact-active-class="active-link"
            exact
          >
            {{ $t(link.name).toUpperCase() }}
          </router-link>
        </div>
      </div>
      <router-view />
    </main>
    <Cart
      v-if="cartStatus"
      :cartHeight="cartHeight"
      :appWidth="appWidth"
      @closeCartHandler="openCloseCart"
    />
    <footer>
      <img src="./images/review.png" alt="review">
      <img src="./images/socials.png" alt="social" class="social">
      <img src="./images/achievements.png" alt="achievements" class="achievements">
    </footer>
  </div>
</template>

<script>
import LocaleSwitcher from './components/LocaleSwitcher'
import MainMenu from './components/MainMenu'
import Cart from './components/Cart/Cart'
import { mapGetters } from 'vuex'

export default {
  components: { LocaleSwitcher, MainMenu, Cart },
  data () {
    return {
      mainMenuStatus: false,
      cartStatus: false,
      appHeight: null,
      headerHeight: null,
      appWidth: null,
      mobileStatus: false,
      navLinks: [
        { name: this.$t('home'), path: '/' },
        { name: this.$t('sell'), path: '/sell' },
        { name: this.$t('host'), path: '/host' },
        { name: this.$t('about us'), path: '/about' },
        { name: this.$t('support'), path: '/support' }
      ]
    }
  },

  mounted () {
    this.appWidth = this.$refs.app.getBoundingClientRect().width
    this.appHeight = this.$refs.app.getBoundingClientRect().height
    this.headerHeight = this.$refs.header.getBoundingClientRect().height
  },

  computed: {
    ...mapGetters([
      'getProductsInCart'
    ]),

    quantityOfProducts () {
      if (this.getProductsInCart.length === 0) {
        return 0
      }
      return this.getProductsInCart.reduce((acc, cur) => acc + cur.quantity, 0)
    },

    cartHeight () {
      return this.appHeight - this.headerHeight
    }
  },

  methods: {
    openMenuHandler () {
      this.mainMenuStatus = !this.mainMenuStatus
    },

    closeMenuHandler (status) {
      this.mainMenuStatus = status
    },

    getMenuHeight (height) {
      this.menuHeight = height
    },

    openCloseCart (status) {
      this.appWidth = this.$refs.app.getBoundingClientRect().width
      if (this.appWidth <= 768) {
        this.mobileStatus = !this.mobileStatus
      }
      this.cartStatus = status
    }
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
}

body, html {
  background-color: #0B0C23;
  font-size: 14px;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ffffff rgba($color: #ffffff, $alpha: 0.2);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #ffffff;
  border-bottom: 14px;
  border-style: solid;
  border-color: #0B0C23;
}

::-webkit-scrollbar-track {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  border: 4px solid #0B0C23;
}

@font-face {
  font-family: 'Exo';
  src: url('./assets/fonts/Exo2/Exo2-VariableFont_wght.ttf'),
       url('./assets/fonts/Exo2/static/Exo2-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

.hidden {
  overflow: hidden;
}

#app {
  font-family: 'Exo';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 30px;
    flex: 0 0 auto;
    .social, .achievements {
      height: 25px;
    }
    .achievements {
      margin-top: 10px;
    }
  }
  main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    width: 100%;
    .mob-menu {
      display: none;
    }
  }
  header {
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .controls-close-mobile {
    width: 20px;
    height: 20px;
    display: none;
    .controls {
      width: 20px;
      height: 20px;
    }
    .close-mobile {
      cursor: pointer;
      width: 15px;
      height: 15px;
    }
  }
  .left-side-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 20px;
    }
    .locales-container {
      display: flex;
      height: 20px;
      justify-content: flex-end;
      align-items: center;
      margin-left: 40px;
    }
  }
  .center-header {
    margin: auto;
    width: 12%;
    display: flex;
    justify-content: flex-end;
    .hamburger {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
  .right-side-header {
    color: #fff;
    display: flex;
    align-items: center;
    .user-account {
      cursor: pointer;
      margin-left: 8px;
      min-width: 122px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .cart-button-container {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 45px;
    }
  }

  .user, .planet, .bell {
    width: 20px;
    height: 20px;
  }

  .cart {
    cursor: pointer;
  }

  .balance, .cart {
    width: 22px;
    height: 20px;
  }

  .separator {
    width: 2px;
    height: 10px;
    margin: 0 15px;
  }

  .arrow {
    width: 10px;
    height: 6px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .user, .bell, .balance, .separator {
    display: none;
  }
  #app {
    main {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 18px;
      .mob-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0B0C23;
        font-family: 'Exo';
        font-weight: 500;
        color: rgba(255, 255, 255, 0.192);
        margin-bottom: 5vw;
        overflow-x: auto;
        width: 100%;
        .mob-menu-container {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            cursor: pointer;
            display: inline-block;
            font-size: 4vw;
            &:not(:last-child) {
              margin-right: 3%;
            }
          }
          .active-link {
            color: #fff;
          }
        }
      }
    }
    header {
      padding: 0 4vw;
     .controls-close-mobile {
        display: block;
      }
      .left-side-header {
        .logo {
          height: 15px;
        }
        .locales-container {
          display: none;
        }
      }
      .right-side-header {
        .user-account {
          display: none;
        }
      }
      .center-header {
        display: none;
      }
    }
    footer {
      justify-content: center;
      margin-bottom: 15px;
    }
  }

}
</style>
