<template>
  <div class="billing-stage-container">
    <PopUpHeader
      :message="$t('billingHeader')"
      :checkboxLabel="$t('remember')"
      :isWithCloseIcon="false"
      class="unvisibal"
    />
    <form>
      <input
        class="formField"
        v-for="(field, index) in fields"
        :key="index"
        :type="field.type"
        :placeholder="field.plaseholder"
        :class="index === 4 || index === 5 ? 'fullWidth' : null"
      >
    </form>
  </div>
</template>

<script>
import PopUpHeader from '../UI/PopUpHeader'

export default {
  components: { PopUpHeader },
  data () {
    return {
      fields: [
        { plaseholder: `${this.$t('firstName')}*`, type: 'text' },
        { plaseholder: `${this.$t('lastName')}*`, type: 'text' },
        { plaseholder: `${this.$t('companyName')}`, type: 'text' },
        { plaseholder: `${this.$t('country')}*`, type: 'text' },
        { plaseholder: `${this.$t('address')}*`, type: 'text' },
        { plaseholder: `${this.$t('apartment')}`, type: 'text' },
        { plaseholder: `${this.$t('city')}*`, type: 'text' },
        { plaseholder: `${this.$t('state')}*`, type: 'text' },
        { plaseholder: 'ZIP*', type: 'text' },
        { plaseholder: `${this.$t('phone')}*`, type: 'text' },
        { plaseholder: `${this.$t('email')}*`, type: 'email' },
        { plaseholder: `${this.$t('password')}*`, type: 'password' }
      ]
    }
  }

}
</script>

<style lang="scss" scoped>
.billing-stage-container {
  width: 100%;
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 14px;
    margin: 10px 0;
    .formField {
      background-color: #0B0C23;
      border: 1px solid transparent;
      height: 30px;
      padding: 0 10px;
      font-family: 'Open Sans';
      color: #fff;
      outline: none;
      box-sizing: border-box;
      width: 48%;
      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.5);
        font-size: 12px;
      }
      &:focus {
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
      }
      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 12px;
      }
    }
    .fullWidth {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .billing-stage-container {
    .unvisibal {
      display: none;
    }
    form {
      .formField {
        background: rgba(255, 255, 255, 0.1);
        height: 40px;
        &:focus {
          background: rgba(255, 255, 255, 0.05);
        }
        &:not(:nth-last-child(-n+2)) {
          margin-bottom: 14px;
        }
      }
    }
  }

}
</style>
