<template>
  <div class="cart-container">
    <PopUpHeader
      :message="header"
      :checkboxLabel="null"
      :isWithCloseIcon="true"
      @closeCartHandler="closeCartHandler"
      class="unvisibal"
    />
    <div class="stages-mobile">
      <span>
        {{ stages[continueStatus - 1] }}
      </span>
    </div>
    <div class="stage-container" ref="cart">
      <div class="unvisibal">
        <ProductStage v-if="continueStatus >= 1 && continueStatus < 5" />
        <BillingStage v-if="continueStatus >= 2 && continueStatus < 5" />
        <ShippingStage v-if="continueStatus >= 3 && continueStatus < 5" />
        <PaymentStage v-if="continueStatus >= 4 && continueStatus < 5" />
        <SuccessStage v-if="continueStatus >= 5" />
      </div>
      <div class="mob-components">
        <component :is="currentMobComponent"></component>
      </div>
    </div>
    <div
      class="footer"
      ref="footer"
      v-if="continueStatus < 5"
    >
      <div class="control-btns">
        <button
          @click="continueHandler()"
          :class="continueButtonText === $t('buy') ? 'buy-button' : null"
        >
          {{continueButtonText}}
        </button>
        <button @click="removeAll()">{{removeAllButtonText}}</button>
      </div>
      <div class="price-sum">
        <svg class="sum">
          <use xlink:href="../../icons/sum.svg#sum" />
        </svg>
        <span>${{ priceSum }}</span>
      </div>
    </div>
    <div
      class="footer-mobile"
      ref="footerMobile"
    >
      <div v-if="continueStatus < 5">
        <div class="price-sum">
          ${{ priceSum }}
        </div>
        <button @click="removeAll()" class="remove">
          <svg class="delete">
            <use xlink:href="../../icons/delete.svg#delete"></use>
          </svg>
        </button>
        <button
          @click="continueHandler()"
          :class="continueButtonText === $t('buy') ? 'buy-button' : null"
        >
          {{continueButtonText}}
        </button>
      </div>
      <div class="" v-if="continueStatus === 5">
        <button>{{ $t('support') }}</button>
        <button>{{ $t('orders') }}</button>
      </div>
    </div>
  </div>
</template>

<script>
import ProductStage from './ProductStage'
import BillingStage from './BillingStage'
import PopUpHeader from '../UI/PopUpHeader'
import PaymentStage from './PaymentStage'
import SuccessStage from './SuccessStage'
import ShippingStage from './ShippingStage'
import SuccessPaymentMobile from './SuccessPaymentMobile'
import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    ProductStage,
    BillingStage,
    PopUpHeader,
    PaymentStage,
    SuccessStage,
    ShippingStage,
    SuccessPaymentMobile
  },

  props: {
    cartHeight: {
      type: Number,
      require: true
    },
    appWidth: {
      type: Number,
      require: true
    }
  },

  data () {
    return {
      continueStatus: 1,
      stages: [this.$t('cart'), this.$t('billing'), this.$t('shipping'), this.$t('payment'), this.$t('paymentSuccess')],
      cartComponents: ['ProductStage', 'BillingStage', 'ShippingStage', 'PaymentStage', 'SuccessPaymentMobile']
    }
  },

  mounted () {
    const resultHeight = this.cartHeight - this.$refs.footer.getBoundingClientRect().height * 2
    if (this.appWidth > 768) {
      this.$refs.cart.style.maxHeight = `${resultHeight}px`
    } else {
      this.$refs.cart.style.height = `${document.documentElement.clientHeight - this.$refs.footerMobile.getBoundingClientRect().height * 2.8}px`
    }
  },

  computed: {
    ...mapGetters([
      'getProductsInCart'
    ]),

    priceSum () {
      return this.getProductsInCart.reduce(
        (acc, cur) => acc + cur.price * cur.quantity, 0)
    },

    header () {
      let header = `You have ${this.quantityOfProducts} items in your cart`
      if (this.continueStatus >= 5) {
        header = this.$t('successHeader')
      }
      return header
    },

    quantityOfProducts () {
      if (this.getProductsInCart.length === 0) {
        return 0
      }
      return this.getProductsInCart.reduce((acc, cur) => acc + cur.quantity, 0)
    },

    continueButtonText () {
      return this.continueStatus < 4 ? this.$t('continue') : this.$t('buy')
    },

    removeAllButtonText () {
      return this.continueStatus < 4 ? this.$t('removeAll') : this.$t('back')
    },

    currentMobComponent () {
      return this.cartComponents[this.continueStatus - 1]
    }
  },

  methods: {
    ...mapMutations([
      'setProductsInCart'
    ]),

    removeAll () {
      if (this.continueStatus < 3) {
        this.setProductsInCart([])
      } else {
        this.continueStatus = 1
      }
    },

    continueHandler () {
      this.continueStatus += 1
    },

    closeCartHandler (status) {
      this.$emit('closeCartHandler', status)
    }
  }
}
</script>

<style lang="scss" scoped>
.cart-container {
  width: 400px;
  background-color: #17182e;
  position: absolute;
  top: 9%;
  right: 2%;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 64px;
    top: -21px;
    border: 10px solid transparent;
    border-bottom: 10px solid #c4c4c4;
  }
  &::after {
    border-bottom: 10px solid #17182e;
    top: -20px;
  }
  .stage-container {
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
       width: 0;
    }
  }
  .mob-components {
    display: none;
  }
  .stages-mobile {
    display: none;
  }
  .footer-mobile {
    display: none;
  }
  .footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #17182e;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    .control-btns {
      button {
        cursor: pointer;
        width: 95px;
        height: 35px;
        padding: 7px 10px;
        padding: 7px 10px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        background: #0b0c23;
        mix-blend-mode: normal;
        opacity: 0.8;
        border: 0;
        color: #fff;
        outline: none;
        &:nth-child(2n) {
          margin-left: 15px;
        }
      }
      .buy-button {
        background-color: #1B1B67;
      }
    }
    .price-sum {
      .sum {
        width: 10px;
        height: 12px;
        margin-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cart-container {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    border-top: 0;
    overflow-x: hidden;
    background-color: #0B0C23;
    &::before, &::after {
      display: none;
    }
    .footer {
      display: none;
    }
    .unvisibal {
      display: none;
    }
    .footer-mobile {
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      background-color: #0B0C23;
      padding: 0 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .delete {
        width: 14px;
        height: 17px;
      }
      button {
        cursor: pointer;
        background :#1B1B67;
        outline: none;
        border: 0;
        color: #fff;
        font-size: 3.3vw;
        width: 45vw;
        height: 10vw;
      }
      .remove {
        width: 10vw;
        height: 10vw;
      }
      .price-sum {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 30vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.3vw;
      }
    }
    .stage-container {
      background-color: #0B0C23;
    }
    .stages-mobile {
      background-color: #0B0C23;
      display: flex;
      justify-content: center;
      font-family: 'Exo';
      font-weight: 500;
      font-size: 24px;
      width: 100%;
      margin-bottom: 10px;
      span {
        display: inline-block;
        color: #fff;
      }
    }
    .mob-components {
      display: block;
      height: 100%;
    }
    .active-stage {
      color: #fff;
      margin: auto;
    }
  }
}
</style>
