<template>
  <div class="payment-stage-container">
    <PopUpHeader
      :message="$t('paymentHeader')"
      :checkboxLabel="$t('remember')"
      :isWithCloseIcon="false"
      class="unvisibal"
    />
    <div class="payment">
      <div class="payment-type">
        <div
          v-for="(type, index) in paymentTypes"
          :key="index"
          class="peyment-item"
          :class="payment === index ? 'active' : null"
          @click="choosePayment(index)"
        >
          <div
            class="visa-mastercard"
            v-if="index === 0"
          >
            <img :src="type[0].image" :alt="type[0].alt">
            <img :src="type[1].image" :alt="type[0].alt">
          </div>
          <img v-else :src="type.image" :alt="type.alt">
        </div>
      </div>
      <div class="card-info">
        <input
          class="formField"
          v-for="(field, index) in fields"
          :key="index"
          :type="field.type"
          :placeholder="field.plaseholder"
          :class="index === 2 || index === 3 ? 'fullWidth' : null"
        >
      </div>
    </div>
  </div>
</template>

<script>
import PopUpHeader from '../UI/PopUpHeader'

export default {
  components: { PopUpHeader },
  data () {
    return {
      paymentTypes: [
        [
          { image: require('../../images/visa.png'), alt: 'Visa' },
          { image: require('../../images/master_card.png'), alt: 'MasterCard' }
        ],
        { image: require('../../images/paypal.png'), alt: 'PayPal' },
        { image: require('../../images/coinpayments.png'), alt: 'CoinPayments' },
        { image: require('../../images/skrill.png'), alt: 'Skrill' },
        { image: require('../../images/webmoney.png'), alt: 'WebMoney' },
        { image: require('../../images/alipay.png'), alt: 'Alipay' }
      ],
      fields: [
        { plaseholder: `XXXX XXXX XXXX XXXX   ${this.$t('cardNumber')}*`, type: 'text' },
        { plaseholder: `********* *********   ${this.$t('cardHolderName')}*`, type: 'text' },
        { plaseholder: `XX / XX   ${this.$t('expireDate')}*`, type: 'text' },
        { plaseholder: 'XXX   CVV*', type: 'text' }
      ],
      payment: null
    }
  },

  methods: {
    choosePayment (index) {
      this.payment = index
    }
  }
}
</script>

<style lang="scss" scoped>
.payment {
  padding: 0 14px;
  margin: 10px 0;
  .payment-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .peyment-item {
      cursor: pointer;
      background-color: #0B0C23;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 100px;
      box-sizing: border-box;
      &:nth-last-child(-n + 3) {
        margin-top: 17px;
      }
      .visa-mastercard {
        display: flex;
        flex-direction: column;
        img {
          &:first-child {
            margin-bottom: 16px;
          }
        }
      }
    }
    .active {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: #0B0C23;
    }
  }
  .card-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .formField {
      background-color: #0B0C23;
      border: 1px solid transparent;
      height: 30px;
      padding: 0 10px;
      font-family: 'Open Sans';
      color: #fff;
      outline: none;
      box-sizing: border-box;
      width: 48%;
      margin-top: 17px;
      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.3);
        font-size: 12px;
      }
      &:focus {
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
      }
    }
    .fullWidth {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .unvisibal {
    display: none;
  }
  .payment {
    .payment-type {
      .peyment-item {
        background: rgba(255, 255, 255, 0.1);
      }
      .active {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #0B0C23;
      }
    }
    .card-info {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .formField {
        background: rgba(255, 255, 255, 0.1);
        height: 40px;
        &:focus {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}
</style>
