<template>
  <div class="product-stage-container">
    <div
      class="product-items"
    >
      <ProductStageItem
        v-for="(product, index) in getProductsInCart"
        :key="index"
        :price="product.price"
        :name="product.name"
        :imageName="product.imageName"
        :quantity="product.quantity"
        :index="index"
        @changeQuantityHandler="changeQuantityHandler"
        @onDelete="onDelete"
      />
    </div>
  </div>
</template>

<script>
import ProductStageItem from './ProductStageItem'
import { mapGetters, mapMutations } from 'vuex'

export default {
  components: { ProductStageItem },

  computed: {
    ...mapGetters([
      'getProductsInCart'
    ]),

    productsCartLength () {
      return this.getProductsInCart.length
    },

    quantityOfProducts () {
      if (this.getProductsInCart.length === 0) {
        return 0
      }
      return this.getProductsInCart.reduce((acc, cur) => acc + cur.quantity, 0)
    },

    header () {
      return `You have ${this.quantityOfProducts} items in your cart`
    }
  },

  methods: {
    ...mapMutations([
      'setProductsInCart'
    ]),

    changeQuantityHandler ({ number, index }) {
      const products = this.getProductsInCart.slice()
      products[index].quantity += number
      if (products[index].quantity === 0) {
        products.splice(index, 1)
        this.setProductsInCart(products)
      }
      this.setProductsInCart(products)
    },

    onDelete (index) {
      const products = this.getProductsInCart.slice()
      products.splice(index, 1)
      this.setProductsInCart(products)
    }
  }
}

</script>

<style lang="scss" scoped>
.product-stage-container {
  width: 100%;
  .product-items {
    margin: 10px 0;
    // overflow-y: auto;
    height: 80%;
  }
}
</style>
