<template>
  <div class="item-container">
    <div class="img-container">
      <div class="delete-img-hover-container">
        <img :src="imagePath" alt="Product image">
        <div class="hover-container">
          <svg class="delete" @click="onDelete()">
            <use xlink:href="../../icons/delete.svg#delete"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="product-info" :class="bottomSeparatorCondition ? 'bottom-separator' : null">
      <div>
        <p>{{ name }}</p>
        <p class="mobile-price">${{ price }}.00</p>
      </div>

      <div
        class="product-quantity-price"
        v-if="!totalQuantiy"
      >
        <div class="product-quantity-changer">
          <svg
            class="arrow decrease"
            @click="changeQuantityHandler(-1)"
          >
            <use xlink:href="../../icons/arrow.svg#arrow"></use>
          </svg>
          <span>{{ quantity }}</span>
          <svg
            class="arrow increase"
            @click="changeQuantityHandler(1)"
          >
            <use xlink:href="../../icons/arrow.svg#arrow"></use>
          </svg>
        </div>
        <p>${{ price }}.00</p>
      </div>
    </div>
    <span
      class="resoult-quantity"
      v-if="totalQuantiy"
    >
      x {{ totalQuantiy }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      require: true
    },
    price: {
      type: Number,
      require: true
    },
    imageName: {
      type: String,
      require: true
    },
    quantity: {
      type: Number,
      require: true
    },
    index: {
      type: Number,
      require: true
    },
    totalQuantiy: {
      type: Number
    }
  },

  computed: {
    imagePath () {
      return require(`../../images/${this.imageName}`)
    },

    bottomSeparatorCondition () {
      return this.index !== 0
    }
  },

  methods: {
    changeQuantityHandler (number) {
      this.$emit('changeQuantityHandler', { number, index: this.index })
    },

    onDelete () {
      this.$emit('onDelete', this.index)
    }
  }
}
</script>

<style lang="scss" scoped>
.item-container {
  height: 70px;
  padding: 0 14px;
  display: flex;
  justify-content: center;
  .img-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .delete-img-hover-container {
      position: relative;
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      .hover-container {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #0B0C23, $alpha: 0.2);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: opacity .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          opacity: 1;
        }
        .delete {
          width: 14px;
          height: 17px;
        }
      }
      img {
        max-width: 40px;
      }
    }
  }
  .product-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-price {
      display: none;
    }
    .product-quantity-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .product-quantity-changer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .increase {
          transform: rotate(-90deg);
        }
        .decrease {
          transform: rotate(90deg);
        }
        span {
          padding: 0 7px;
        }
      }
    }
  }

  p, span {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }

  .bottom-separator {
    border-top: 1px solid rgba(255, 255, 255, 0.192);
  }
}

@media screen and (max-width: 768px) {
  .resoult-quantity {
    position: absolute;
    top: -5%;
    right: 0;
    font-family: 'Open Sans';
    font-size: 10px;
  }
  .item-container {
    justify-content: space-between;
    position: relative;
    .product-info {
      width: 72%;
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .mobile-price {
          display: block;
          font-size: 2.9vh;
        }
      }
      .product-quantity-price {
        justify-content: center;
        .increase, .decrease {
          background:#1B1B67;
          padding: 14px 12px;
        }
        .product-quantity-changer {
          span {
            padding: 0 12px;
          }
        }
      }
    }
    .img-container {
      .delete-img-hover-container {
        background: rgba(255, 255, 255, 0.05);
        width: 81px;
        height: 11vh;
        .hover-container {
          top: 25%;
          left: 75%;
          width: 50%;
          height: 50%;
          background :#1B1B67;
          -webkit-backdrop-filter: none;
          backdrop-filter: none;
          opacity: 1;
          transition: none;
          &:hover {
            opacity: 1;
          }
          .delete {
            width: 14px;
            height: 17px;
          }
        }
      }
    }
    .product-info {
      .product-quantity-price {
        p {
          display: none;
        }
      }
    }
  }
}
</style>
