<template>
  <PopUpHeader
    :message="$t('shippingHeader')"
    :checkboxLabel="$t('sameAsBilling')"
    :isWithCloseIcon="false"
  />
</template>

<script>
import PopUpHeader from '../UI/PopUpHeader'

export default {
  components: { PopUpHeader }
}
</script>

<style lang="scss" scoped>

</style>
