<template>
  <div class="success-mob-container">
    <div class="order-info">
      <div class="products">
        <ProductStageItem
          v-for="(product, index) in getProductsInCart"
          :key="index"
          :price="product.price"
          :name="product.name"
          :imageName="product.imageName"
          :quantity="product.quantity"
          :index="index"
          :totalQuantiy="quantityOfProducts"
        />
      </div>
      <div class="total-info">
        <p>
          {{$t('total')}} <span class="totalQuantity">{{quantityOfProducts}}</span> {{$t('itemsFor')}} <span class="totalPrice">${{priceSum}}</span>
        </p>
      </div>
    </div>
    <div class="order-number">
      <p>
        {{$t('orderNumber')}} <span>#27</span>
      </p>
    </div>
  </div>
</template>

<script>
import ProductStageItem from './ProductStageItem'
import { mapGetters } from 'vuex'

export default {
  components: { ProductStageItem },

  computed: {
    ...mapGetters([
      'getProductsInCart'
    ]),

    quantityOfProducts () {
      if (this.getProductsInCart.length === 0) {
        return 0
      }
      return this.getProductsInCart.reduce((acc, cur) => acc + cur.quantity, 0)
    },

    priceSum () {
      return this.getProductsInCart.reduce(
        (acc, cur) => acc + cur.price * cur.quantity, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.success-mob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  .order-info {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // flex: 1 0 auto;
    .products {
      padding: 4vw;
    }
    .total-info {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-family: 'Open Sans';
      height: 12vh;
      p {
        width: 21vh;
        font-size: 14px;
        text-align: center;
        .totalQuantity {
          color: #00A651;
        }
        .totalPrice {
          font-size: 33px;
        }
      }
    }
  }
  .order-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    flex: 0 0 auto;
    margin-bottom: 6vw;
    p {
      width: 44vh;
      text-align: center;
      span {
        color: #00A651;
      }
    }
  }
}
</style>
