<template>
  <div class="success-message-container">
    <p>
      Thank you for using our marketplace. Your Order number is <span>#23542</span>.
      If you still have any questions click <a href="#">here</a> to ask!
    </p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.success-message-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    width: 76%;
    span {
      color: #00A651;
    }
    a {
      color: #FCD501;
    }
  }
}
</style>
